<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>$.each and Templating</title>
</head>
<body>
	
	<script id="blogTemplate" type="tuts/template">
		<h2> {{title}} </h2>
		<img src={{thumbnail}} alt={{title}}>
	</script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	
	<script type="text/javascript">
		(function() {
			var content = [
	   			{
	   				title: 'Hard-Boiled Wonderland and the End of the World',
	   				thumbnail: 'http://upload.wikimedia.org/wikipedia/en/d/d1/Haruki_murakami_hardboiled_9780679743460.jpg'
	   			},
	   			{
	   				title: 'A Wild Sheep Chase',
	   				thumbnail: 'http://upload.wikimedia.org/wikipedia/en/a/a5/Haruki_murakami_a_wild_sheep_chase_9780375718946.jpg'
	   			}
	   		],
	   			template = $.trim($('#blogTemplate').html()),
	   			frag = '';
	   		
	   		$.each(content, function(index, obj) {
	   			frag += 
	   				template.replace(/{{title}}/ig, obj.title)
	   						.replace(/{{thumbnail}}/ig, obj.thumbnail);
	   		});
	   		
	   		$('body').append(frag);
		})();
	</script>
	
</body>
</html>