<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Say Hello to Handlebars</title>
	<style type="text/css">
		h2 span { 
			color: gray; 
			font-size: .8em; 
		}
	</style>
</head>
<body>
	
	<ul class="tweets">
		<script id="template" type="text/x-handlebars-template">
			{{#each this}}
			<li>
				<h2>{{fullName author}}</h2>
				<p>{{{tweet}}}</p>
				
				{{#if quote}}
					<h5>{{quote}}</h5>
				{{else}}
					<h5>Author does not have a quote.</h5>
				{{/if}}
			</li>
			{{/each}}
		</script>
	</ul>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	
	<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>
	
	<script type="text/javascript">
		(function() {
			var data = [
				{
					author: { first: 'Haruki', last: 'Murakami', age: 65 },
					tweet: '<strong>A Wild Sheep Chase</strong> is the third book in the so-called "Trilogy of the Rat"',
					quote: 'I am a fan of crime novels.'
				},
				{
					author: { first: 'Jeffrey', last: 'Eugenides', age: 54 },
					tweet: 'Middlesex is a story about what it means to occupy the unnamed middle ground between male and female, Greek and American, past and present.'
				},
			],
				template = Handlebars.compile($('#template').html());
			
			Handlebars.registerHelper('fullName', function( author ) {
				return author.first + ' ' + author.last + ' - ' + author.age;
			});
			
			$('ul.tweets').append(template(data));
		})();
	</script>
	
</body>
</html>