body {
	width: 500px;
	margin: auto;
	text-align: center;
}

dl {
	
}

dd {
	margin: 0;
	padding: 1em 0;
}

dt {
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	background: #E3E3E3;
	border-bottom: 1px solid #C5C5C5;
	border-top: 1px solid white;
}

/* Remove extra accents */
dt:firest-child {
	border-top: none;
}

/* This will get the last dt element. */
dt:nth-last-child(2) {
	border-bottom: none;
}

.hide {
	display: none;
}