<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>The Twitter API</title>
	<style type="text/css">
		body { 
			width: 600px; margin: auto; 
		}
		
		ul { 
			list-style: none; $
		}
		
		li { 
			padding-bottom: 1em; 
		}
		
		img { 
			float: left; padding-right: 1em; 
		}
		
		a { 
			text-decoration: none; color: #333; 
		}
	</style>
</head>
<body>
	
	<ul class="murakami-tweets">
		<script id="tweets-template" type="text/x-handlebars-template">
			{{#each this}}
			<li>
				<img src="{{thumb}}" alt="{{author}}">
				<p><a href="{{url}}">{{tweet}}</a></p>
			</li>
			{{/each}}
		</script>
	</ul>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	
	<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>
	
	<script type="text/javascript">
		(function() {
			var Twitter = {
				init: function(config) {
					this.url = 'http://nameless-oasis-8002.herokuapp.com/1.1/search/tweets.json?q=' + config.query;
					this.template = config.template;
					this.container = config.container;
					
					this.fetch();
				},
				
				attachTemplate: function() {
					var template = Handlebars.compile(this.template);
					this.container.append(template(this.tweets));
				},
				
				fetch: function() {
					var self = this;
					$.getJSON( this.url, function( data ) {
						self.tweets = $.map( data.results, function( tweet ) {
							return {
								author: tweet.from_user,
								tweet: tweet.text,
								thumb: tweet.profile_image_url,
								url: 'http://twitter.com/' + tweet.from_user + '/status/' + tweet.id_str
							};
						});
						
						self.attachTemplate();
						
					});
				}
			};
			
			Twitter.init({
				template: $('#tweets-template').html(),
				container: $('murakami-tweets'),
				query: 'Haruki Muarakami'
			});
		})();
	</script>
	
</body>
</html>